<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapdaobackground.mapdaobg" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name=".MapdaoBGApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity

            android:name=".MapdaoBGLoginActivity"
            android:label="@string/title_activity_mapdao_bglogin" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapdaoBGMainActivity"
            android:label="mapdao" >
        </activity>
        <activity
            android:name=".MapdaoBGActivity"
            android:label="@string/title_activity_mapdao_bg" >
        </activity>
        <activity
            android:name=".MapdaoBGRegisterActivity"
            android:label="@string/title_activity_mapdao_bgregister" >
        </activity>
        <activity
            android:name=".MapdaoBGForgetPasswordActivity"
            android:label="@string/title_activity_mapdao_bgforget_password" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
